$black: #1c1e1c;
$green: #77bf42;
$white: #ffffff;
$red: #b80000;

body {
	background: $black;
}

.reveal {
	* {
		text-align: left;
		font-family: tahoma;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		color: $green;
		font-family: 'bullpen';
		text-shadow: 5px 5px 10px rgba($black, 0.7);

		&.alt {
			color: $black !important;
			text-shadow: none;
		}

		&.bad {
			color: $red !important;
		}
	}

	img {
		width: 100%; height: auto;
		max-width: 100%;
		box-sizing: border-box;
		box-shadow: none;
		border: 0;

		&.topright {
			position: absolute !important;
			top: 0 !important; right: 0 !important;
			width: auto !important;
		}
	}

	ul {
		list-style-type: none;
		margin: 0; padding: 0 0 0 0.2em;

		li {
			margin-bottom: 0.5em;
			text-shadow: 2px 2px 1px #000;

			&:before {
				display: inline-block;
				width: 1em;
				content: '›';
				color: $green;
				font-weight: bold;
			}

			&.bad {
				&:before {
					color: $red;
				}
			}
		}
	}

	blockquote {
		padding: 1em;
		font-family: 'itc baskerville';
		font-style: italic;
		border: 2px dashed #ccc;
		background-color: rgba(0, 0, 0, 0.7);
		transform: rotate(-5deg);
	}

	pre {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		line-height: 2;
		box-shadow: none;

		&.narrow {
			line-height: 1.5;
		}

		code {
			padding: 0.5em;
			font-family: hack;
			background-color: rgba(0, 0, 0, 0.75);

			&.alt {
				background-color: $black;
				color: $white;
			}
		}
	}
}

[class^="hljs-"] {
	color: $green !important;
}
[class="hljs-variable"] {
	color: $white !important;
}

.language-html {
	[class="hljs-value"] {
		color: $white !important;
	}
}

.language-scss {
	&.bad {
		[class^="hljs-"] {
			color: $red !important;
		}
	}
}

.half {
	max-width: 50% !important;
}

.quarter {
	max-width: 25% !important;
}

.placeholder {
	visibility: hidden !important;
}

.controls {
	.navigate-left {
		border-right-color: $green !important;
	}
	.navigate-right {
		border-left-color: $green !important;
	}
	.navigate-up,
	.mavigate-down {
		display: none !important;
	}
}

.progress span { background-color: $green !important; }
