<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SilverStripe Modules for a Better Life</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <link rel="stylesheet" href="css/reveal.css" />
    <link rel="stylesheet" href="css/theme/black.css" id="theme" />
    <link rel="stylesheet" href="css/custom.css" />
    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css" />
    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

<section data-background-size="100% 100%" data-background="/images/bg-bigfork.jpg">
  <h1><br />SilverStripe Modules for a Better Life</h1>
  <aside class="notes">
    <ul>
      <li>Colin / Bigfork / Digital Marketing Agency in Norwich</li>
      <li>I'm going to talk about our day-to-day SilverStripe builds</li>
      <li>Particularly the modules and tweak we use to make websites better</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/example-brochure-website.jpg">
  <aside class="notes">
    <ul>
      <li>The focus of this is on brochure websites, as opposed to web apps (what are brochure websites)</li>
      <li>We build a lot of these – they have a lot of commong features (logo, nav, carousel)</li>
      <li>Often for other agencies - little or design input, so working with files given</li>
      <li>Can't rely on CSS frameworks, grid systems or design consistency, it's always bespoke</li>
      <li>Always have content management system requirements, so we have to make it work, make it easy to use and client-proof it as much as possible</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-landscape.jpg">
  <h1>Bootstrap</h1>
  <pre class="language-text"><code>github.com/feejin/Silverstripe-CleanInstall.git</code></pre>

  <aside class="notes">
    <ul>
      <li>This is how projects start - our own bootstrap.</li>
      <li>Composer setup for SilverStripe, Modules, gulp, blank theme.</li>
      <li>It's an ever-shifting setup that we continually improve</li>
      <li>Streamlines by getting things in place without being overly opinionated</li>
      <li>Good for outsiders</li>
      <li>It relies on some environmental stuff so don't copy it, but please do see if there's anything that might inspire you.</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-landscape.jpg">
  <h1>Composer.json</h1>
  <pre class="language-json narrow"><code>{
    "require": {
        "silverstripe/cms": "~3.1.15",
        "silverstripe/framework": "~3.1.15",
        &hellip;
    },
    "autoload": { "psr-4": { "Bigfork\\": "util/Bigfork" } },
    "scripts": {
        "post-install-cmd": "Bigfork\\Installer\\Install::postInstall",
        "post-update-cmd": "Bigfork\\Installer\\Install::postUpdate"
    }
}</code></pre>

  <aside class="notes">
    <ul>
      <li>Tilde for next significant release. Will be caret when SilverStripe moves to semver</li>
      <li>As well as framework and CMS we're loading modules here</li>
      <li>Autoload and scripts prompts for basic info like project name and description</li>
      <li>Important configuration through _ss_environment so never any issues with editing config files that need to live in the repo</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-modules.jpg">
  <h1>Front-end Modules</h1>

  <aside class="notes">
    <ul>
      <li>So, now we've a clean setup with our modules in place</li>
      <li>As a note, if you have a module on packagist, please use semver and tag releases!</li>
      <li>Prevents breaking changes and tagging commits makes it hard to refer to later</li>
      <li>I don't know what anyone in the SS community looks like so if I mention your module, thank you for creating it</li>
    </ul>
  </aside>

</section>

<section data-background-color="#ffffff">
  <h1 class="alt">Menu Manager</h1>
  <pre class="language-bash"><code class="alt">"heyday/silverstripe-menumanager"</code></pre>
  <img class="fragment" src="/images/menumanager.png" />
  <pre class="language-bash fragment"><code class="alt"><% loop $MenuSet('MyMenu').MenuItems %>
  <li><a href="$Link" class="$LinkingMode">$MenuTitle</a></li>
<% end_loop %></code></pre>

  <aside class="notes">
    <ul>
      <li>For managing menus!</li>
      <li>Adds an option into CMS menu with gridfield interface</li>
      <li>Then just loop it, treat it like loop $Menu(1)</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/example-menumanager.jpg" data-transition="fade-out">
  <h1>Examples</h1>
  <ul>
    <li>Auxiliary Links</li>
    <li>Footer Links</li>
    <li>Navigation Menu</li>
  </ul>

  <aside class="notes">
    <ul>
      <li>Auxiliary links, point to sites scattered throughout the site</li>
      <li>Why we started menu manager - footer links - reliable means of doing them without hardcoding or nonsensical CMS placement</li>
      <li>Bit about unbreakable nav bars - impossible with CMS</li>
    </ul>
  </aside>
</section>

<section data-background-color="#ffffff">
  <h1 class="alt">Responsive Images</h1>
  <pre class="language-bash"><code class="alt">"heyday/silverstripe-responsive-images"</code></pre>
  <aside class="notes">
    <ul>
      <li>Supplies an extension to image and implements the picturefill.js polyfill</li>
      <li>I read an alistapart article earlier this week that says responsive images are ready to use. As long as you only want to use srcset and want terrible IE support.</li>
      <li>I think picturefill.js will be relevant for a while</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/example-picturefill.jpg">
  <h1>Picturefill</h1>
  <pre class="language-bash"><code>ResponsiveImageExtension:
  sets:
    CarouselSet:
      method: CroppedImage
        sizes:
          - {query: "(min-width: 200px)", size: 480&zwnj;x&zwnj;240}
          - {query: "(min-width: 200px) and (-webkit-min-device-pixel-ratio: 1.5)&hellip;", size: 960&zwnj;x&zwnj;480}
          - {query: "(min-width: 960px)", size: 960&zwnj;x&zwnj;480}
            default_size: 960&zwnj;x&zwnj;480</code></pre>

<pre class="language-bash fragment"><code><% loop $CarouselImages %>
  <div class="carousel__item">{$CarouselSet}</div>
<% end_if %></code></pre>

  <aside class="notes">
    <ul>
      <li>Configure responsive images with picturefill.yml</li>
      <li>Note - not based on latest release, personal preference to use picturefill 1</li>
      <li>Looks through rules until one matches, serves that image or default if nothing matches</li>
      <li>End result is images served up at suitable size for the current display and size - no 1600 pixel images on your Galaxy Ace</li>
      <li>Updates image on resize too</li>
    </ul>
  </aside>
</section>

<section data-background-color="#ffffff" data-transition="slide-in fade-out">
  <h1 style="line-height:1" class="alt">Focus <br />Point</h1>
  <pre class="language-bash half"><code class="alt">"jonom/focuspoint"</code></pre>
  <aside class="notes">
    <ul>
      <li>Extension for image that allows specifying a reference point for cropping</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/example-focuspoint.jpg" data-transition="fade-in slide-out">
  <h1 style="line-height:1">Focus <br />Point</h1>
  <pre class="language-bash placeholder"><code class="alt">"jonom/focuspoint"</code></pre>
  <aside class="notes">
    <ul>
      <li>Looks like this, adds the focus point option to image</li>
      <li>Prefer it to image crop tools, removes decision making, you just have to point at the important bit</li>
      <li>Also means you don't have to worry about different crop ratios</li>
    </ul>
  </aside>
</section>

<section data-transition="fade-in fade-out">
  <h2>Uploaded Image</h2>
  <img src="/images/focuspoint-original.jpg" />
  <aside class="notes">
    <ul>
      <li>Here's what it does</li>
    </ul>
  </aside>
</section>

<section data-transition="fade-in fade-out">
  <h2>CroppedImage(580,400)</h2>
  <img src="/images/focuspoint-croppedimage.jpg" />
  <aside class="notes">
    <ul>
      <li>CroppedImage resizes and crops to centre, no good if the image isn't centred.</li>
      <li>Not exactly how it works, for illustration</li>
      <li>Especially noticeable with faces like on "meet the team" pages, which always seem to be supplied portrait and used square. Cuts off heads etc</li>
    </ul>
  </aside>
</section>

<section data-transition="fade-in fade-out">
  <h2>CroppedFocusedImage(580,400)</h2>
  <img src="/images/focuspoint-croppedfocusimage.jpg" />
  <aside class="notes">
    <ul>
      <li>But with CroppedFocusImage we choose the focal point</li>
      <li>And it crops and resizes around the focal point</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/example-focuspoint-real.jpg" data-transition="fade-in slide-out">
  <h2>Focus Point <br />
  + <br />
  Responsive <br />
  Images <br />
  = <br />
  Awesome <br />
  Carousels</h2>
  <aside class="notes">
    <ul>
      <li>Ideal for carousels where the ratio is different on mobile and desktop, the focal point is always maintained regardless of crop size</li>
      <li>Use response images and just change the method from CroppedImage to CroppedFocusedImage</li>
    </ul>
  </aside>
</section>

<section data-background-color="#ffffff" data-background-size="100% 100%" data-background="/images/bg-blog.jpg" data-transition="fade-in fade-out">
  <h1 class="alt">Blog</h1>
  <pre class="language-bash quarter"><code class="alt">"silverstripe/blog"</code></pre>

  <aside class="notes">
    <ul>
      <li>Seems like an obvious one but we didn't realise it existed for ages and just used ModelAdmin to roll our own</li>
      <li>It's called blog but it's perfect for news and events that don't need a calendar setup</li>
      <li>Uses sitetree, looks and works like pages, handles pagination, has versioning</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/blog-example.jpg" data-transition="fade-in slide-out">
  <h1>News</h1>
<pre class="language-bash half"><code><% loop $List('BlogPost').Limit(1) %>
  &hellip;
<% end_with %></code></pre>
<pre class="language-bash half"><code><% loop $List('BlogPost').Limit(3,1) %>
  &hellip;
<% end_loop %></code></pre>

  <aside class="notes">
    <ul>
      <li>Here's blog module supply latest news and events content for our brochure website</li>
      <li>I've made it halfway through the homepage build without touching PHP</li>
      <li>SilverStripe isn't just for people that like code!</li>
    </ul>
  </aside>
</section>

<section data-background-color="#ffffff">
  <h1 class="alt">Cache Include</h1>
  <pre class="language-bash"><code class="alt">"heyday/silverstripe-cacheinclude"</code></pre>

  <aside class="notes">
    <ul>
      <li>Better than partial caching and static publishing because...</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-landscape.jpg">
  <h1>Easy Cache</h1>
  <pre class="language-bash"><code><% cache %>
  <% loop Something %> &hellip; <% end_loop %>
<% end_cache %></code></pre>
  <pre class="language-bash fragment"><code><% cache_include 'TemplateName' %></code></pre>
  <pre class="language-bash fragment"><code>"heyday/silverstripe-cacheinclude-manager"</code></pre>

  <aside class="notes">
    <ul>
      <li>Simpler syntax, no need for invaldation rules in template</li>
      <li>Cache entire includes easily</li>
      <li>Cache invalidation is handled onwrite so more efficient at the front end</li>
      <li>Cache manager module also available for fine control</li>
      <li>More flexibile than staticpublisher if you want to cache lots but not everything</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/tweet-example.jpg" data-transition="fade-in fade-out">
  <h1 style="line-height:1;margin-bottom:0.5em">Special <br />Mention</h1>
    <div class="fragment">
    <h2>Passing data <br />into includes</h2>
    <pre class="language-bash half"><code><% include Twitter Tweets=2, User="bigfork" %></code></pre>
    <pre class="language-bash half"><code><a data-tweet-limit="{$Tweets}">&hellip;</a>
Tweets by @{$User}</code></pre>
    </div>

  <aside class="notes">
    <ul>
      <li>Not actually a module</li>
      <li>But not that prominent in documentation</li>
      <li>Often use for slight variations without needing totally separate templates</li>
    </ul>
  </aside>
</section>

<section data-background-color="#ffffff">
  <h1 class="alt">Better Navigator</h1>
  <pre class="language-bash"><code class="alt">"jonom/silverstripe-betternavigator"</code></pre>

  <aside class="notes">
    <ul>
      <li>Last front-end module, more of a user-friendliness thing than a build one</li>
      <li>I do phone support for people, and there's a fairly common question...</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-navigator.jpg" data-transition="fade-out">
  <blockquote class="alt" style="text-align:center">&ldquo;I&rsquo;ve unpublished the page and it&rsquo;s still showing&rdquo;</blockquote>

  <aside class="notes">
    <ul>
      <li>Usually happens when someone clicks the URLSegment in the CMS and is viewing draft</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-navigator-example.jpg" data-transition="fade-in slide-out">
  <blockquote class="alt" style="text-align:center">&ldquo;I&rsquo;ve unpublished the page and it&rsquo;s still showing&rdquo;</blockquote>

  <aside class="notes">
    <ul>
      <li>Better Navigator is a really easy way of checking and switching to published</li>
      <li>Edit in CMS link is also handy, some people prefer to navigate the front and and click edit than browse sitetree</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-modules.jpg">
  <h1>CMS Modules</h1>

  <aside class="notes">
    <ul>
      <li>I've covered the main modules we mostly use for most brochure website builds.</li>
      <li>CMS modules add features, tidy things up and improve user experience</li>
    </ul>
  </aside>

</section>

<section data-background-color="#ffffff" data-transition="fade-out">
  <h1 class="alt">Security <br />Templates</h1>
  <pre class="language-bash half"><code class="alt">"feejin/silverstripe-securitytemplates"</code></pre>

  <aside class="notes">
    <ul>
      <li>Don't use if you have login areas other than CMS!</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-security.jpg" data-transition="fade-in fade-out">
  <h1>Security <br />Templates</h1>
  <pre class="language-bash half placeholder"><code class="alt">"feejin/silverstripe-securitytemplates"</code></pre>

  <aside class="notes">
    <ul>
      <li>Makes the login screen look like the CMS for a more uniform feel</li>
      <li>Saves styling forms if you don't have any other suitable forms on the website</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-seo.jpg">
  <h1 class="alt">SEO</h1>
  <pre class="language-bash half"><code class="alt">"silverstripe/googlesitemaps"
"kinglozzer/metatitle"
"kinglozzer/bfgoogleanalytics"
</code></pre>

  <aside class="notes">
    <ul>
      <li>Generates sitemap.xml automatically</li>
      <li>Reinstates the meta title that was removed in 3.1 - for customisable title tag</li>
      <li>Our own Analytics module because we don't really like showing generic metrics, not always the right data</li>
      <li>Allows passing extra config into the GA tracking code e.g. autolinker plugin or custom tracking variables</li>
      <li>ga('linker:autoLink', ['anotherwebsite.com']);</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-infoboxes.jpg" data-transition="fade-in fade-out">
  <h1>Infoboxes</h1>
  <pre class="language-bash half"><code>"stnvh/silverstripe-infoboxes"</code></pre>

  <aside class="notes">
    <ul>
      <li>Custom warnings and notices to remind devs about things</li>
      <li>Default password, missing module settings, viewing in dev mode</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-misc.jpg">
  <h1>Last, but not least</h1>
  <pre class="language-bash"><code>"kinglozzer/htmleditornoalignment"
"kinglozzer/htmleditoruploadfield"
"silverstripe-australia/gridfieldextensions"
</code></pre>

  <aside class="notes">
    <ul>
      <li>Things that add little improvements...</li>
      <li>Default image alignment is none, styled as a block element, rather than floated left</li>
      <li>Adds a file upload to the HTMLEditorField - much easier. Standard in 3.2, hurrah!</li>
      <li>Among other things, it makes gridfields reorderable with drag and drop - makes it more consistent with pages</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-housekeeping.jpg">
  <h1 class="alt">Good <br />Housekeeping</h1>

  <aside class="notes">
    <ul>
      <li>Modules aside, how else can we make the CMS even more user friendly?</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-landscape.jpg">
  <h1>TidyUp TinyMCE</h1>
  <img src="/images/tinymce-before.png" />
  <img class="fragment" src="/images/tinymce-after.png" />

  <aside class="notes">
    <ul>
      <li>HTMLEditorFields are one of the hardest things to work with because they're not structured like standalone text / file fields</li>
      <li>Default setup has a lot of stuff that isn't used often - special characters, three different pastes! Just confusing</li>
      <li>More logical order for training, remove unused / obscure features</li>
      <li>Things like alignment and colours lead to hideous websites</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-landscape.jpg" data-transition="fade-out">
  <h1>_config.php</h1>
<pre class="language-php"><code>$config = HtmlEditorConfig::get('cms');</code></pre>

<pre class="language-php"><code>$config->disablePlugins('emotions', 'fullscreen');
$config->setButtonsForLine(1, 'formatselect,separator,bullist,numlist,
  separator,bold,italic,sup,sub,separator,sslink,unlink,anchor,separator,ssmedia,pasteword,
  separator,spellchecker,undo,redo,code');
$config->setButtonsForLine(2, 'tablecontrols');
$config->setButtonsForLine(3, '');

</code></pre>

  <aside class="notes">
    <ul>
      <li>Strip out unwanted plugins</li>
      <li>Override buttons with the simpler setup</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-landscape.jpg"  data-transition="fade-in slide-out">
  <h1>_config.php</h1>
<pre class="language-php"><code>$config = HtmlEditorConfig::get('cms');</code></pre>

<pre class="language-php"><code>$config->setOptions(array(
  'theme_advanced_blockformats' => 'p,h2,h3',
  'paste_auto_cleanup_on_paste' => 'true',
  'paste_remove_styles' => 'true',
  'paste_strip_class_attributes' => 'all',
  'paste_remove_spans' => 'true'
));</code></pre>

  <aside class="notes">
    <ul>
      <li>Simplify header styles on a per site basis. H1 is usually $Title and blockquote is usually separate</li>
      <li>As we removed a load of paste options, we santise automatically as much as possible</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/page-add-bad.jpg" data-transition="fade-in slide-out">
  <h1>Page type <br />clutter</h1>

  <aside class="notes">
    <ul>
      <li>I don't want to know what I can't add, just what I can</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-landscape.jpg">
  <h1>One weird trick</h1>
  <div class="fragmemt">
    <pre class="language-php"><code>LeftAndMain::require_css(basename(__DIR__) . '/css/cms.css');</code></pre>
  </div>
  <div class="fragment">
    <pre class="language-scss"><code>#Form_AddForm_PageType .disabled {
  display: none !important;
}</code></pre>
  </div>
  <div class="fragment">
    <pre class="language-scss"><code>#Menu-Help {
  display: none;
}</code></pre>
  </div>
  <div class="fragment">
    <pre class="language-scss"><code>.cms-logo a {
  background-image: url('http://placekitten.com/26/23');
}</code></pre>
  </div>

  <aside class="notes">
    <ul>
      <li>Let's just load some extra CMS CSS through config.php</li>
      <li>Now we can hide disabled pages with CSS</li>
      <li>Why not hide other stuff we don't use too, like the help menu?</li>
      <li>And how about a different logo?</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/page-add-good.jpg" data-transition="fade-in slide-out">
  <h1>Better</h1>

  <aside class="notes">
    <ul>
      <li>Better now</li>
      <li>Only show applicable page types</li>
      <li>Help is hidden and there's a kitten</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-landscape.jpg" data-transition="fade-in slide-out">
  <h1>Further Decluttering</h1>
  <pre class="language-php"><code>class MyPage extends Page {
  public function canCreate($member=null) {
    return Permission::check('ADMIN');
  }
}</code></pre>

  <aside class="notes">
    <ul>
      <li>In the page class</li>
      <li>Hide page types that people don't need to add</li>
      <li>Home page for example</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-rules.jpg" data-transition="slide-in fade-out">
  <h1>House Rules</h1>

  <aside class="notes">
    <ul>
      <li>More of a CMS style guide</li>
      <li>Designed to make it easier and consistent for end users</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-rules.jpg" data-transition="fade-in fade-out">
  <blockquote>Always use pages if possible and practical.</h1>

  <aside class="notes">
    <ul>
      <li>Anything that relates directly to a page should live under that page</li>
      <li>Meet the Team page for example, make team members as sub-pages</li>
      <li>Pages have versioning, other stuff doesn't. Pages are best</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-rules.jpg" data-transition="fade-in fade-out">
  <blockquote style="transform: rotate(-1deg)">If there are too many fields on a page, group them into tabs. If a tab is too sparsely populated, merge the contents with another tab.</h1>

  <aside class="notes">
    <ul>
      <li>I've inherited websites with fields two screens high and tabs containing a single checkbox.</li>
      <li>Think about how to group content, make it make sense.</li>
      <li>Avoid accordions for main content, they just add clicks</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-rules.jpg" data-transition="fade-in fade-out">
  <blockquote style="transform: rotate(-4deg)">If something can&rsquo;t be (or shouldn&rsquo;t be) a page, can it be a gridfield within a page? If yes, make it so.</h1>

  <aside class="notes">
    <ul>
      <li>Gallery for example, subpages would be possible but impractical</li>
      <li>Manage it as a gridfield, maybe filed under a nice tab</li>
      <li>Why not uploadfield for gallery? Because there's a strong chance we'll be using gridfield elsewhere, so it means users only have to learn one interface</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-rules.jpg" data-transition="fade-in fade-out">
  <blockquote style="transform: rotate(3deg)">If the thing can&rsquo;t or shouldn&rsquo;t be a page, and gridfield within a page isn&rsquo;t relevant, resort to a new item in the CMS Menu.</h1>

  <aside class="notes">
    <ul>
      <li>It's easier to train and support people if there's fewer options to remember</li>
      <li>Sitetree and pages are more friendly, hence this being a last resort</li>
    </ul>
  </aside>
</section>

<section data-background-color="#ffffff">
  <h1 class="alt">Bonus Material</h1>
   <aside class="notes">
    <ul>
      <li>I've gone through to quickly and have time spare</li>
      <li>A quick bit about CSS and automation</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-gulp.png">
   <aside class="notes">
      <ul>
        <li>Gulp is a workflow automator, which means it does things for you that makes your life easier</li>
        <li>Like grunt or codekit.app which are also both good, we just favour gulp for speed</li>
        <li>And Stan loves fixing buggy javascript</li>
      </ul>
    </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-landscape.jpg">
  <h1>Automate what?</h1>
  <ul>
    <li>Compiling SCSS into CSS</li>
    <li>Linting SCSS</li>
    <li>Automatically adding vendor prefixes where required</li>
    <li>Combining media queries</li>
    <li>Optimising images</li>
    <li>Javascript linting and uglifying</li>
    <li>Live reload</li>
  </li>
    <aside class="notes">
    <ul>
      <li>SASS/SCSS compliler.</li>
      <li>Linter - nesting, ordering - prevents duplicate rules</li>
      <li>Autoprefixer - adds vendor prefixes based on settings using caniuse as support reference</li>
      <li>Combine - makes media queries easier to add and maintain</li>
      <li>Using TinyPNG API</li>
      <li>Not going to talk about javascript</li>
      <li>Using browsersync, great for testing multiple devices</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-landscape.jpg">
  <h1>Component Based SCSS</h1>
  <pre class="language-bash"><code>style.scss
  [includes]
    _reset.scss
    _typography.scss
  [components]
    _header.scss
    _footer.scss</code></pre>
  <aside class="notes">
    <ul>
      <li>Not a new idea, many frameworks do this</li>
      <li>More manageable that the 320 and up approach based  - edit individual components rather than breakpoints</li>
      <li>Media queries are included with components so breakpoints are design based rather than arbitrary</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/bg-landscape.jpg">
  <h1>Media Queries Mixin</h1>
  <pre class="language-scss"><code>.header { background-color: $color__black; }</code></pre>

<pre class="language-scss fragment"><code>@include respond(960px) {
  .header { background-color: $colour__white; }
}</code></pre>

  <pre class="language-scss fragment" ><code>.header {
  background-color: #000;
  @include respond(960px) {
    background-color: $colour__white;
  }
}</code></pre>

<pre class="language-scss fragment" ><code>@include retina() {
  .header { &hellip; }
}</code></pre>

  <aside class="notes">
    <ul>
      <li>Mobile first approach still like 320 and up</li>
      <li>Add media queries alongside rules rather than end of file e.g. header then queries for header</li>
      <li>Can also nest media queries in rules</li>
      <li>High DPI displays as well as breakpoints</li>
      <li>gulp mq combine merges media queries to optimise</li>
    </ul>
  </aside>
</section>

<section data-background-size="100% 100%" data-background="/images/caveat-emptor.jpg">
  <h1>Caveat Emptor</h1>
  <ul>
    <li class="fragment">Media queries inside rules can make them harder to maintain</li>
    <li class="fragment">mq-combine can reorder CSS so don&rsquo;t rely on source order for specificity</li>
    <li class="fragment">mq-combine also breaks source maps :(</li>
  </ul>
</section>

<section data-background-size="100% 100%" data-background="/images/example-brochure-website.jpg">
  <aside class="notes">
    <ul>
      <li>Hope there was something useful in there for your next project</li>
      <li>If not I hope you had a nice rest because Loz's talk is way more technical</li>
    </ul>
</aside>
</section>

<section data-background-color="#77bf42">
  <h1 style="line-height:1;margin-bottom:1em">Questions?</h1>
  <h1 style="line-height:1;margin-bottom:1em">Your favourite modules?</h1>
  <h2 style="line-height:1.2">Colin Richardson<br />bigfork.co.uk<br />@feejin</h2>
</section>

      </div>
    </div>
    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>
    <script>
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        width: 1280,
        height: 800,
        margin: 0.1,
        controls: true,
        progress: true,
        history: true,
        center: true,
        showNotes: false,
        transition: 'slide', // none/fade/slide/convex/concave/zoom
        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>
  </body>
</html>
